<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/sumitrathore1971"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.instagram.com/sumit_rathore_12"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/rathore-sumit/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-brand">
      <a href="/listings">&copy; Nestify Private Limited</a>
    </div>
    <div class="f-info-links">
      <a href="/listings/privacy">Privacy</a>
      <a href="/listings/terms">Terms</a>
    </div>
  </div>
</footer>
