<% layout("/layouts/boilerplate") %>
<style>
  h2 {
    font-weight: 400;
    font-size: 1.2rem;
  }
  p {
    margin-left: 1.5rem;
  }
  h1 {
    font-weight: 400;
  }
</style>

<div class="row privacyt-3">
  <div id="privacy" class="col-8 offset-2">
    <div>
      <h1 style="text-align: center">Privacy Policy</h1>
      <p style="text-align: center">
        <strong>Effective Date:</strong> 02/06/2025
      </p>
    </div>

    <h2>1. Information We Collect</h2>
    <p>
      We collect information such as name, email, phone number, location, and
      analytics.
    </p>
    <h2>2. How We Use Your Information</h2>
    <p>
      To provide services, improve experience, communicate updates, and ensure
      safety.
    </p>
    <h2>3. Sharing Your Information</h2>
    <p>
      We don’t sell your data. Data may be shared with service providers and
      legal authorities.
    </p>
    <h2>4. Cookies</h2>
    <p>We use cookies to enhance user experience and gather analytics.</p>
    <h2>5. Data Security</h2>
    <p>
      We implement basic security measures but cannot guarantee absolute
      protection.
    </p>
    <h2>6. Your Rights</h2>
    <p>You can access, update, or delete your personal information.</p>
    <h2>7. Contact</h2>
    <p>Email us at: isumitrathore1971@gmail.com</p>
  </div>
</div>
