<% layout("/layouts/boilerplate") %>

<style>
  h2 {
    font-weight: 400;
    font-size: 1.2rem;
  }
  p {
    margin-left: 1.5rem;
  }
  h1{
    font-weight: 400;
  }
</style>

<div class="row mt-3">
  <div id="terms" class="col-8 offset-2">
    <h1 style="text-align: center;">Terms and Conditions</h1>
    <p style="text-align: center;"><strong>Effective Date:</strong> 02/06/2025</p>
    <h2>1. Account Responsibilities</h2>
    <p>Provide accurate information and ensure account security.</p>
    <h2>2. Use of Services</h2>
    <p>Use legally and respect all users and platform policies.</p>
    <h2>3. User Content</h2>
    <p>
      You are responsible for content you post. We reserve the right to remove
      content.
    </p>
    <h2>4. Booking & Payment</h2>
    <p>
      Payments are secure. Follow refund/cancellation rules where applicable.
    </p>
    <h2>5. Platform Rights</h2>
    <p>We may modify services or suspend accounts violating our rules.</p>
    <h2>6. Limitation of Liability</h2>
    <p>We are not responsible for any loss due to using our platform.</p>
    <h2>7. Changes to Terms</h2>
    <p>We may update these terms anytime without notice.</p>
    <h2>8. Contact</h2>
    <p>Email us at: isumitrathore1971@gmail.com</p>
  </div>
</div>
